.main {
  position: relative;
  width: 100%;

  @font-face {
    font-family: sxtFont;
    src: url('./sxt.ttf'); /* IE9+,可以是具体的实际链接 */
  }
}

.forDownload {
  position: absolute;
  height: 0;
  overflow: hidden;
  left: 1000vw;

  .displayImage {
    padding: 48px;

    .wrapCgg {
      font-size: 96px;
      width: 604px;
      font-weight: bold;

      span {
        height: 704px;
      }
    }
    .gz {
      font-size: 48px;
    }
  }
}

.displayImage {
  font-family: sxtFont;

  padding: 24px;
  background-color: #fbf0dc;
  color: #000;

  // 多行竖排
  writing-mode: vertical-rl; /*从左向右 从右向左是 writing-mode: vertical-rl;*/
  writing-mode: tb-lr; /*IE浏览器的从左向右 从右向左是 writing-mode: tb-rl；*/

  .wrapCgg {
    font-size: 48px;
    width: 302px;
    font-weight: bold;

    span {
      display: block;
      height: 352px;
    }
    span:nth-child(2n) {
      margin-top: 1em;
    }
  }

  .gz {
    font-size: 24px;
    display: block;
    text-align: bottom;
    height: 100%;
    text-align: end;
    padding-bottom: 3em;
  }
}
